<%- include('includes/header') %>
<main>



  <div class="alert alert-dark" role="alert">

    <b>Node JS </b> It is a run time environment
  </div>
  <div class="container" style="max-width: 92%;">
    <br>
    <h2  style="color:blue">Hello there!</h2>
    <span >Lets deep dive into node js . Lots to learn and really lot to explore.</span>
    <br><hr>
    <div class="row">
      <div class="col-sm">

        <h3>Commands need to know</h3>
        <p  style="margin-top: 14px;">To inintalize the project : <span class="badge badge-warning">npm init</span></p>
        <p  style="margin-top: 14px;">Now create a file   <span class="badge badge-success">index.js</span></p>
        <p  style="margin-top: 14px;">To run the project : <span class="badge badge-primary">node index.js</span></p>
    
        <h3>REPL : Read Evail Print Loop</h3>
        <p  style="margin-top: 14px;">It is a command line interface usually for testing js</p>
        <p  style="margin-top: 14px;">To launch it using cmd: <span class="badge badge-success">node</span></p>
    
      </div>
      <div class="col-sm">
        <img height="300" width="500"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThVVzffGFpywTGobaC2jJdoj9GsFrWsfthGg&usqp=CAU"
        ></img>
      </div>
    </div>
    <br><hr>
    <h2>
      Node Js has some predefined Modules</h2>
    <h3 style="margin-top: 14px;">
      <small class="text-muted" >
        <li>Wrapper Module</li>
        <li>Path Module</li>
        <li>File System Module</li>
        <li>OS Module</li>
        <li>URL Module</li>
        <li>Event Module</li>
        <li>HTTP Module</li>

      </small>
    </h3>
    <br>
    <hr>
    <br>
    <h3 style="color: green;"># Wrapper Module</h3>
    <p  style="margin-top: 14px;">Each and every file in node.js is wrapped in a function like :</p>
    <p  style="margin-top: 14px;">Suppose there is a command in index.js => console.log("hello world");</p>
    
    <p  style="margin-top: 14px;">function( exports , require , module , __filename, __dirname'){ <br>       console.log('hello world'); <br>}<span class="badge badge-success">node</span></p>




  </div>







<div style="height:300px"></div>



</main>
<%- include('includes/footer') %>
